* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Cookie Banner Styles */
.cookie-banner {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 200px;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cookie-banner .close-button {
    cursor: pointer;
    font-size: 20px;
    color: white;
    align-self: flex-end;
}

.cookie-banner svg {
    margin-bottom: 10px;
    fill: white;
    height: 40px;
}

.cookie-banner p {
    color: white;
    margin-bottom: 10px;
    font-size: 14px;
}

.cookie-banner .accept-cookies {
    color: rgb(0, 0, 0);
    background-color: white;
    border-color: black;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}

.cookie-banner .accept-cookies:hover {
    background-color: #e0e1e0;
}


